<p-confirmDialog key="unsavedChanges"></p-confirmDialog>

<h1>Accordion Demo</h1>
<p-accordion #accordion [activeIndex]="accordActiveIndex">
  <p-accordionTab *ngFor="let tab of tabs let ii=index" [cache]=false>
    <ng-template pTemplate="header">
      <div (click)="handleAccordChange($event, ii)">
        <ng-container>
          Tab {{ii}}
        </ng-container>
      </div>
    </ng-template>

    <ng-template pTemplate="content">
      <button pButton label="Change" (click)="setChanged(true)"></button>
      <button pButton style="margin-left: 10px;" label="Submit" (click)="setChanged(false)"></button>
    </ng-template>

  </p-accordionTab>
</p-accordion>
